
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-family1: "Mochiy Pop P One", sans-serif;
    --font-family2: "Englebert", cursive;
    --padding-inline: 10px;
}
h1{
    font-family: var(--font-family1);
}
h2{
    font-family: var(--font-family2);
}
 p{
    font-family: var(--font-family2);
 }
 nav{
    padding-block: 20px;
    display: flex;
    justify-content: space-around;
 }
 .icon{
    font-family: var(--font-family1);
 }
 .navbar ul{
    display: flex;
    
 }
 .navbar li{
padding-inline: var(--padding-inline);
    list-style: none;
    font-size: 1.5rem;
    font-family: var(--font-family2);
 }
 .symbol{
    display: flex;
 }
 .symbol a{
    font-size: 1.5rem;
    font-family: var(--font-family2);
    padding-inline: 5px;
    color: black;
    text-decoration: none;
 }
 .symbol i{
    font-size: 2rem;
    padding-inline: 30px;
 }
 .hero-sec1{
    display: flex;
    justify-content: space-around;
    background: url("/asserts/white-simple-abstract-wallpaper_393744-50.jpg");
    background-size: cover;
 }
 .hero-sec1 .text-sec{
    width: 50%;
    margin-top: 200px;

 }

 .hero-sec1 .text-sec h1{
    font-size: 3rem;
 }
 .hero-sec1 .text-sec h2{
    font-size: 2rem;
    margin-block: 15px;
 }
 .hero-sec1 .text-sec p{
    font-size: 1.3rem;
    padding-block: 25px;
 }
 .hero-sec1 .text-sec a{
    padding-block: 20px;
    font-size: 1.3rem;
    color: black;
    font-family: var(--font-family1);
 }
 .BAGS{
    /* align-items: center; */
    margin-top: 100px;
    display: flex;
    justify-content:space-around ;
 }
 .categories{
    text-align: center;
 }
 .categories h1{
    font-size: 2rem;
    padding-bottom: 20px;
    text-transform: uppercase;
 }
 .categories h2{
    margin-top: 10px;
 }
 .categories img{
    width: 50%;
 }
 .bag-pics{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
 }
 .upcoming{
    text-align: center;
 }
  .upcoming h1{
    padding-block: 30px;
    font-size: 2.5rem;
 }
  .upcoming p{
    font-size: 1.5rem;
 }
 .bag{
     text-align: center;
 }
 .bag img{
    width: 90%;
   
 }
 .bag h1{
    font-size: 1.3rem;
    padding-block: 15px;
    
 }  
 .bag h2{
border-top: 1px solid rgba(0, 0, 0, 0.322);
 }    
 .bag p{
    font-size: 1.5rem;
    padding-block: 15px;
 }
 .services{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
 }
 .same{
   padding: 40px;
    font-family: var(--font-family1);
    width: 20%;
    height: 30%;
    background-color: #91919128;
    text-align: center;
    border-radius: 20px;
 }
 .same h2{
    font-size: 2.5rem;
 }
 .same p{
    font-size: 1.5rem;
    padding-block: 15px;
    font-weight: bold;
 }
 .last-sec{
    background-color: #91919128;
    
 }
 footer{
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
      padding-bottom: 100px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.342);
  
 }
 footer .area{

   margin-top: 100px;
 }
 footer .area h1{
   font-size: 1.2rem;
   font-weight: 500;
   padding-block: 10px;
   text-align: center;
 }
 footer .area ul{
   font-family: var(--font-family2);

 }
 .DIV{
   font-family: var(--font-family1);
   text-align: center;
   padding-block: 20px;
   font-size: 1.2rem;
   font-weight: bold;
   letter-spacing: 2px;
 }
